@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    margin:0;
    padding:0;
    font-family: Roboto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.centering-div{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*HEADER, INTRODUCTION COMMON RULES*/

.header, .introduction{
    background-color: #1F2937;
}


/*HEADER SECTION*/

.header{
    padding: 8px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}
ul{
    list-style-type: none;
    display: flex;
    gap: 16px; 
}
a{
    text-decoration: none;
    color: #ced0d3; 
}

/*MAIN*/
.main{
    padding:0;
}

/*INTRODUCTION*/
.introduction{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}
.introduction .centering-div{
    gap: 32px;
}
.hello{
    flex:1;
    max-width: 25vw;
    margin: 12px;
    
}
.hello h1{
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8
}
.hello p{
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
    margin-bottom: 16px;
}

.hello button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 6px 10px;
    margin:0;
    border-style: none;
    border-radius: 4px;
}

.introduction input[type='text']{
    height: 20vh;
    width: 30vw;
    text-align: center;
}

/*INFORMATION*/
.information{
    text-align: center;
    margin-bottom: 48px;
    height: 45vh;
}

.title{
    padding: 48px;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.information .centering-div{
    max-width: 70vw;
    margin:auto;
    gap: 48px;

}
.text{
    width: 20vh;
}
.card img{
    height: 20vh;
    width: 20vh;
    border-style: solid;
    border-radius: 14px;
}


/*TESTIMONY*/
.testimony{
    background-color: #E5E7EB;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.testimony .centering-div{
    max-width: 60vw;
    
    align-items: baseline;
    margin: auto;
    flex-wrap: wrap;
}
.statement{
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: #1F2937;
}
.stator{
    flex-shrink:0;
    max-width:70vw;
    margin-left: auto;
    font-weight: 900;
}

/*SIGNUP*/
.signup{
    height: 22vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.signup .centering-div{
    padding: 32px;
    gap: 32px;
    background-color: #3882F6;
    border-radius: 10px;
    color:#E5E7EB;
}

.heading{
    font-size: larger;
    font-weight: 900;
    
}

.signup button{
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: 900;
    padding: 6px 10px;
    margin:0;
    border-style: solid;
    border-color: #E5E7EB;
    border-radius: 4px;
}

/*FOOTER*/
.footer{
    height: 5vh;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1F2937;
    margin-top: auto;
}